@{
    ViewBag.Title = "Juego";
}
<div class="juego-container">
    <h2>Bienvenido, @ViewBag.Username</h2>
    <h4>¡Adivina la palabra!</h4>
    <div id="palabra" class="palabra-grande">
        @for (int i = 0; i < ViewBag.Palabra.Texto.Length; i++)
        {
            <p class="letra oculto">_</p>
        }
    </div>
    <form id="formJuego" autocomplete="off">
        <input type="hidden" id="palabraReal" value="@ViewBag.Palabra.Texto" />
        <input type="hidden" id="intentos" name="intentos" value="@ViewBag.Intentos" />
        <input type="text" id="inputLetraPalabra" class="form-control d-inline-block w-auto" placeholder="Letra o palabra" required />
        <button type="button" class="btn btn-success" id="btnArriesgarLetra" onclick="ArriesgarLetra()">Arriesgar Letra</button>
        <button type="button" class="btn btn-info" id="btnArriesgarPalabra" onclick="ArriesgarPalabra()">Arriesgar Palabra</button>
    </form>
    <div class="mt-4">
        <strong>Letras arriesgadas:</strong>
        <p id="letrasArriesgadas"></p>
    </div>
    <form id="finJuego" action='@Url.Action("FinJuego", "Home")' method="post">
    <button type="submit" class="btn btn-primary">Terminar juego</button>
    </form>

</div>
<script src="~/js/juego.js"></script>